{% extends '@ValouleloupIssue/base.html.twig' %}

{% block current_top_navigation %}
    <h4><a>Home</a> / <a>Tags</a></h4>
{% endblock %}

{% block body_nav_tags %}
    <li class="active">
        <a href="{{ path('list_tags') }}">Tags {% block tag_list_badge %}{% endblock %}</a>
    </li>
{% endblock %}